/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */


/* Police */


@font-face {
    font-family: Raleway;
    src: url('/fonts/Raleway-VariableFont_wght.ttf') format("truetype");
}


/* Background */


.idematbackgroundlogin {
    position: relative;
    height: 100vh;
    background: transparent radial-gradient(farthest-corner at 0px 0px, #F4849350 0%, #F2664F 100%) 0% 0% no-repeat padding-box;
    opacity: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 0px !important;
    padding-right: 0px !important;
}

.idematbackground {
    position: relative;
    /*height: 100vh;*/
    background: #F5F4F4 0% 0% no-repeat padding-box;
    opacity: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 0px !important;
    padding-right: 0px !important;
}

.idematbody {
    margin: 0px !important;
}

.idemattransparence10 {
    opacity: 0.9 !important;
}


/* Popup */


.modal {
    -webkit-backdrop-filter: blur(1px);
    backdrop-filter: blur(1px);
}


/* Menus */


.idematcontainermenuburger {
    padding: 20px;
    border-radius: 10px;
    align-items: end;
}

.idematmenumodal-dialog {
    position: fixed;
    max-width: 100%;
    margin: 0px;
    top: 0px;
    bottom: 0px;
    left: 2rem;
    right: 0px;
    height: 100vh;
    display: flex;
}

.idematmenumodal-content {
    height: 100%;
    border: none;
    border-bottom-left-radius: 30px;
    border-top-left-radius: 30px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    text-align: right;
}

.idematlabelmenuTP {
    text-align: right;
    font: normal normal 600 14px/14px Raleway;
    letter-spacing: 0.14px;
    color: #000000;
    opacity: 1;
    padding: 12px 0;
    border-bottom: 1px solid #ddd;
}

    .idematlabelmenuTP:last-child {
        border-bottom: none;
    }

.idematlabelmenuPC {
    text-align: left;
    font: normal normal 600 14px/14px Raleway;
    letter-spacing: 0.14px;
    color: #000000;
    opacity: 1;
    padding: 6px;
    margin-top: 3px;
    margin-bottom: 3px;
    background: transparent;
    border-radius: 10px;
}

    .idematlabelmenuPC:hover {
        background-color: #CC001A10;
        cursor: pointer;
    }

.idematlabelmenuPCActif {
    text-align: left;
    font: normal normal 600 14px/14px Raleway;
    letter-spacing: 0.14px;
    color: #000000;
    opacity: 1;
    padding: 6px;
    margin-top: 3px;
    margin-bottom: 3px;
    background: 0% 0% no-repeat padding-box;
    background-color: #CC001A4E;
    border-radius: 10px;
}

    .idematlabelmenuPCActif:hover {
        cursor: pointer;
    }

.sidebar {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #fff;
    padding: 30px;
    box-shadow: 2px 0 8px rgba(0, 0, 0, 0.1);
    border-bottom-right-radius: 30px;
    border-top-right-radius: 30px;
}

.menu-item {
    font-size: 1.2rem;
    margin: 12px 0;
    color: #333;
    cursor: pointer;
}

    .menu-item:hover {
        color: #007bff;
    }

.idematmenumodal-header {
    display: flex;
    justify-content: right;
    align-items: end;
    font-size: 1.4rem;
    font-weight: bold;
    margin-bottom: 20px;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 20px;
}

.modal-header .close-btn {
    font-size: 1.8rem;
    color: #dc3545;
    cursor: pointer;
}


/* Logo */


.idematlogoTPcontainer {
    background: #fff;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    height: 85px;
    width: 100%;
    box-shadow: 0 4px 12px rgba(0,0,0,0.1);
    text-align: center;
    padding-top: 10px;
}

.idematlogoTP {
    max-width: 150px;
    max-height: 65px;
    width: auto;
    height: auto;
}

.idematlogoPC {
    position: absolute;
    top: 20px;
    left: 20px;
    max-width: 300px;
    max-height: 150px;
    width: auto;
    height: auto;
}


/* Pages containers */


.idematcontainercentre {
    padding: 20px;
    border-radius: 10px;
    width: 335px;
    margin-top: 190px;
}

.idematcard {
    background: #FFFFFF 0% 0% no-repeat padding-box;
    opacity: 1;
    padding: 1rem;
    border-radius: 1rem;
    margin-bottom: 1rem;
}

.idematcardgrissurclic {
    background: #FFFFFF 0% 0% no-repeat padding-box;
    opacity: 1;
    padding: 1rem;
    border-radius: 1rem;
    margin-bottom: 1rem;
}

    .idematcardgrissurclic:hover {
        background: #E0E0E0 0% 0% no-repeat padding-box;
    }

.idematcardmenu {
    height: 90px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    opacity: 1;
    padding: 1rem;
    border-radius: 1rem;
    margin-bottom: 1rem;
}

    .idematcardmenu:hover {
        background: #FFE3DE 0% 0% no-repeat padding-box;
        opacity: 0.5;
    }

.idematcardmenurouge {
    background: transparent linear-gradient(270deg, #F48492 0%, #F2664F 100%) 0% 0% no-repeat padding-box;
    opacity: 1;
    padding: 10px;
    border: none;
    border-radius: 1rem;
    margin-bottom: 1rem;
    vertical-align: middle;
    color: white;
}

    .idematcardmenurouge:hover {
        background: #FFE3DE 0% 0% no-repeat padding-box;
        opacity: 0.5;
    }

.idematcardmenublancdansrouge {
    background: #FFFFFF 0% 0% no-repeat padding-box;
    opacity: 1;
    padding: 1rem;
    border-radius: 1rem;
    margin-top: 1rem;
}

.idematcardrose {
    background: #FFE3DE 0% 0% no-repeat padding-box;
    opacity: 1;
    padding: 1rem;
    border-radius: 1rem;
    margin-bottom: 1rem;
}

.idematcardrouge {
    background: transparent linear-gradient(270deg, #F48492 0%, #F2664F 100%) 0% 0% no-repeat padding-box;
    opacity: 1;
    padding: 1rem;
    border-radius: 1rem;
    margin-bottom: 1rem;
    vertical-align: middle;
}

.idematuserPC {
    text-align: left;
    font: normal normal 600 14px/14px Raleway;
    letter-spacing: 0.14px;
    color: #000000;
    opacity: 1;
    padding: 6px;
    margin-top: 3px;
    margin-bottom: 3px;
    background: transparent;
    border-radius: 10px;
}

    .idematuserPC:hover {
        background-color: #CC001A10;
        cursor: pointer;
    }


/* Pages labels */


.idematlabelsaisieblanc {
    height: 19px;
    width: 295px;
    text-align: left;
    font: normal normal bold 16px/19px Raleway;
    letter-spacing: 0.16px;
    color: #FFFFFF;
    opacity: 1;
    margin-bottom: 0px;
}

.idematlabelsaisieblancfin {
    height: 16px;
    text-align: left;
    font: normal normal 600 14px/14px Raleway;
    letter-spacing: 0.14px;
    color: #FFFFFF;
    opacity: 1;
    margin-bottom: 0px;
}

.idematlabelsaisienoir {
    height: 16px;
    text-align: left;
    font: normal normal 600 14px/14px Raleway;
    letter-spacing: 0.14px;
    color: #000000;
    opacity: 0.7;
    margin-bottom: 0px;
}

.idematlabelaffichagenoir {
    height: 16px;
    text-align: left;
    font: normal normal 600 14px/14px Raleway;
    letter-spacing: 0.14px;
    color: #000000;
    opacity: 0.7;
}

.idematlabelaffichagerouge {
    height: 16px;
    text-align: left;
    font: normal normal 600 14px/14px Raleway;
    letter-spacing: 0.14px;
    color: #F48493;
    font-size: xx-large;
    font-weight: bold;
}

.idematlabelmultilinenoir {
    white-space: pre-wrap;
    display: block;
    unicode-bidi: embed;
    font: normal normal 600 14px/14px Raleway;
    letter-spacing: 0.14px;
    color: #000000;
    opacity: 0.7;
}

.idematlabelentetenoirgras {
    height: 19px;
    text-align: left;
    font: normal normal bold 16px/19px Raleway;
    letter-spacing: 0.16px;
    color: black;
    opacity: 1;
    margin-bottom: 0px;
}

.idematlabelenteteblancgras {
    height: 19px;
    text-align: left;
    font: normal normal bold 16px/19px Raleway;
    letter-spacing: 0.16px;
    color: white;
    opacity: 1;
    margin-bottom: 0px;
}

.idematlabelentetenoirgraslien {
    height: 19px;
    text-align: left;
    font: normal normal bold 16px/19px Raleway;
    letter-spacing: 0.16px;
    color: black;
    opacity: 1;
    margin-bottom: 0px;
}

    .idematlabelentetenoirgraslien:hover {
        cursor: pointer;
    }

.idematlabelenteteblancgraslien {
    height: 19px;
    text-align: left;
    font: normal normal bold 16px/19px Raleway;
    letter-spacing: 0.16px;
    color: white;
    opacity: 1;
    margin-bottom: 0px;
}

    .idematlabelenteteblancgraslien:hover {
        cursor: pointer;
    }

.idematlabelnomutilisateurTP {
    height: 19px;
    text-align: left;
    font: normal normal bold 16px/19px Raleway;
    letter-spacing: 0.16px;
    color: #00000080;
    opacity: 1;
    margin-bottom: 20px;
}

.idematlabelnomutilisateurPC {
    position: absolute;
    top: 0;
    right: 0;
    text-align: right;
    font: normal normal bold 16px/19px Raleway;
    letter-spacing: 0.16px;
    color: #000000;
    opacity: 1;
    margin-bottom: 0px;
    margin-top: 10px;
}

.idematlabelentetebloc {
    height: 21px;
    text-align: left;
    font: normal normal bold 18px/21px Raleway;
    letter-spacing: 0.18px;
    opacity: 1;
    margin-bottom: 20px;
}

.idematlabelboutonmenu {
    height: 24px;
    text-align: left;
    font: normal normal bold 20px/24px Raleway;
    letter-spacing: 0.2px;
    opacity: 1;
    margin-bottom: 20px;
    color: #000000;
}

.idematlabelentetepage {
    height: 35px;
    text-align: left;
    font: normal normal 800 30px/30px Raleway;
    letter-spacing: 0.3px;
    opacity: 1;
}

.idematlabelentetepageblanc {
    height: 50px;
    text-align: left;
    font: normal normal 600 24px/24px Raleway;
    letter-spacing: 0.3px;
    opacity: 1;
    color: white;
}

.idematlabelbienvenue {
    text-align: left;
    font-family: Raleway;
    font-size: 2rem;
    font-weight: bold;
    letter-spacing: 0.3px;
    margin: 30px 0;
    opacity: 1;
    color: black;
}

.idematgrispourgraphique {
    color: #373737;
    font: normal normal xx-small 10px/10px Raleway;
    font-size: xx-small;
}

.idematgrisfoncegraspourgraphique {
    color: #565E64;
    font-weight: bold;
    font: normal normal xx-small 10px/10px Raleway;
    font-size: xx-small;
}

.idematdesactivegrisclairpourgraphique {
    color: #777777;
    font: normal normal xx-small 10px/10px Raleway;
    font-size: xx-small;
}

    .idematdesactivegrisclairpourgraphique:hover {
        cursor: default;
        text-decoration-line: none;
    }


/* Pages zones de saisie */


.idematsaisiefondtransparent80pc {
    width: 295px;
    height: 40px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border-radius: 10px;
    opacity: 0.8;
}

.idematsaisiefondblanc {
    /*width: 295px;*/
    height: 36px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border-radius: 10px;
    opacity: 1;
}


/* Pages boutons */


.idematbtnrougefondblanc {
    width: 295px;
    height: 36px;
    background: 0% 0% no-repeat padding-box;
    background-color: rgba(255, 255, 255, 1);
    border-radius: 10px;
    opacity: 1;
    text-align: center;
    font: normal normal bold 16px/19px Raleway;
    letter-spacing: 0.16px;
    color: #F2664F;
}

.idematbtnrougefondblanclarge {
    height: 36px;
    background: 0% 0% no-repeat padding-box;
    background-color: rgba(255, 255, 255, 1);
    border-radius: 10px;
    opacity: 1;
    text-align: center;
    font: normal normal bold 16px/19px Raleway;
    letter-spacing: 0.16px;
    color: #F2664F;
}

.idematbtnblancfondtransparent {
    width: 295px;
    height: 36px;
    border: 1px solid #FFFFFF;
    border-radius: 10px;
    opacity: 1;
    text-align: center;
    font: normal normal bold 16px/19px Raleway;
    letter-spacing: 0.16px;
    color: #FFFFFF;
}

.idematbtnnoir {
    width: 295px;
    height: 36px;
    border: 1px solid #FFFFFF;
    border-radius: 10px;
    opacity: 1;
    text-align: center;
    font: normal normal bold 16px/19px Raleway;
    letter-spacing: 0.16px;
    color: #FFFFFF;
}

.idematbtnbackPC {
    text-align: right;
    font: normal normal bold 16px/19px Raleway;
    letter-spacing: 0.16px;
    color: #000000;
    opacity: 1;
    margin-bottom: 0px;
}

.idematbtnrouge {
    width: 295px;
    background: transparent linear-gradient(270deg, #F48492 0%, #F2664F 100%) 0% 0% no-repeat padding-box;
    opacity: 1;
    padding-top: 1rem;
    padding-bottom: 1rem;
    border: none;
    border-radius: 1rem;
    margin-bottom: 1rem;
    vertical-align: middle;
    color: white;
    position: relative;
    bottom: 10px;
}


/* Pages autres objets */


.idematligneseparatrice {
    width: 295px;
    height: 0px;
    border: 1px solid #FFFFFF;
    opacity: 0.3;
}

.idematligneseparatricegrise {
    height: 0px;
    border: 1px solid lightgray;
    opacity: 0.3;
}

    .idematligneseparatricegrise:last-of-type {
        display: none;
    }

.idematligneseparatricegriseforce {
    height: 0px;
    border: 1px solid lightgray;
    opacity: 0.3;
}

.idematblancsurfondnoir {
    background-color: #000000;
    color: #FFFFFF;
    border-radius: 10px;
}

.idematnoirsurfondblanc {
    background-color: #FFFFFF;
    color: #000000;
    border-radius: 10px;
}

/* Responsive */


@media (max-height: 767px) {
    .idematcardmenu {
        height: 50px;
        padding: 10px;
        margin-bottom: 20px;
    }

    .idematlabelboutonmenu {
        height: 12px;
        font: normal normal bold 12px/12px Raleway;
        letter-spacing: 0.1px;
        margin-top: 10px;
    }

    .idematimageboutonmenu {
        height: 30px;
        position: absolute;
        bottom: -10px;
        right: 20px;
    }
}

@media (max-width: 767px) {
    .idematcontainercentre {
        margin-top: 20px;
    }

    .idematlogoPC {
        display: none;
    }

    .idematlabelnomutilisateurPC {
        display: none;
    }

    .idematbtnbackPC {
        display: none;
    }

    .idematlabelbienvenue {
        font-size: 1rem;
    }
}

@media (min-width: 768px) and (max-width: 1279px) {
    .idematcontainercentre {
        margin-top: 115px;
    }

    .idematlogoTPcontainer {
        display: none;
    }

    .idematlogoPC {
        position: absolute;
        top: 20px;
        left: 20px;
        max-width: 150px;
        max-height: 75px;
        width: auto;
        height: auto;
    }

    .idematlabelnomutilisateurTP {
        display: none;
    }
}

@media (min-width: 1280px) and (max-width: 1919px) {
    .idematcontainercentre {
        margin-top: 115px;
    }

    .idematlogoTPcontainer {
        display: none;
    }

    .idematlogoPC {
        position: absolute;
        top: 20px;
        left: 20px;
        max-width: 150px;
        max-height: 75px;
        width: auto;
        height: auto;
    }

    .idematlabelnomutilisateurTP {
        display: none;
    }
}

@media (min-width: 1920px) and (max-width: 2559px) {
    .idematlogoTPcontainer {
        display: none;
    }

    .idematlabelnomutilisateurTP {
        display: none;
    }
}

@media (min-width: 2560px) and (max-width: 2735px) {
    .idematlogoTPcontainer {
        display: none;
    }

    .idematlabelnomutilisateurTP {
        display: none;
    }
}

@media (min-width: 2736px) {
    .idematlogoTPcontainer {
        display: none;
    }

    .idematlabelnomutilisateurTP {
        display: none;
    }
}


/* OLD */




.idbatpastropgrosvert {
    color: #F48493;
    font-size: large;
    font-weight: bold;
}

.idbatpastropgrosgris {
    color: #373737;
    font-size: large;
}


a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
    color: #0366d6;
}

.btn-primary {
    color: #fff;
    background-color: #000000;
    border-color: #000000;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}
