@page
@model IDemat.Pages.DemandeOKModel

@{
    ViewData["Title"] = "Confirmation de prise en compte";
    ViewData["Logo"] = Model.Variables.strURLLogo;
}


<div class="container-fluid idematbackground">
    <div class="idematlogoTPcontainer">
        <img src=@ViewData["Logo"].ToString() alt="Logo" class="idematlogoTP">
    </div>
    <div class="container-fluid h-100">
        <div class="row h-100">
            <aside class="d-none d-md-block col-12 col-md-4 col-lg-3 col-xl-2 p-0" style="background-color: #F5F4F4;">
                <img src=@ViewData["Logo"].ToString() alt="Logo" class="idematlogoPC">
            </aside>

            <main class="col">
                <!-- Insérez ici le contenu principal du site ou de l'application -->
                <div class="row vh-100">
                    <div class="col-md-12 container-fluid mx-3 mx-md-0">
                        <div class="row vh-100">
                            <div class="col-md-2 col-sm-1 d-none d-sm-block"></div>
                            <div class="col-md-8 col-sm-10 col-12 align-self-start">
                                <br /><br />

                                <!-- Confirmation -->
                                <div class="idematcard">
                                    <img src="~/Images/Picto_creation_carte_acceptee.svg" height="150" alt="" class="text-center"><br /><br />
                                    <p class="text-center idematlabelaffichagerouge">MERCI</p>
                                    <p class="text-center">Votre demande de création de carte a bien été prise en compte.<br />Un email de confirmation vous sera envoyé à <b>@Model.message</b></p>
                                </div>
                            </div>
                            <div class="col-md-2 col-sm-1 d-none d-sm-block"></div>
                        </div>
                    </div>
                </div>
            </main>
        </div>
    </div>
</div>

