@page
@model Erreur404Model
@{
    ViewData["Title"] = "Erreur 404";
}

<div class="row vh-100">
    <div class="col-md-12 container-fluid mx-3 mx-md-0">
        <div class="row vh-100">
            <div class="col-lg-4 col-md-3 col-sm-2 col-1"></div>
            <div class="col-lg-4 col-md-6 col-sm-8 col-10 text-center align-self-start">
                <br /><br />
                <p class="text-center idematlabelentetenoirgras" style="font-size:large">La page que vous demandez n'est pas disponible</p>
                <br />
                <img src="~/Images/Carte de ville.svg" height="150" alt="Carte de ville Image" class="text-center">
                <br /><br />
                <p class="text-center idematlabelentetenoirgras" style="font-size:large">Oups, voilà qui n'était pas prévu !<br />Désolé, ce lien est introuvable.</p>
                <br /><br />
                <input type=button value="RETOUR" class=".idematbtnrougefondblanc" onclick='history.go(-1)'>
            </div>
            <div class="col-lg-4 col-md-3 col-sm-2 col-1"></div>
        </div>
    </div>
</div>
