<h1 mat-dialog-title>{{ data.title }}</h1>

<div mat-dialog-content>
    <p>{{ data.message }}</p>
</div>

<!-- Les actions sont désactivées pendant le chargement -->
<div align="end" class="actions-container" mat-dialog-actions>

  <button (click)="onCancel()" class="btn-cancel btn " mat-stroked-button>
    {{ data.cancelButtonText || 'Annuler' }}
  </button>
  <button (click)="onConfirm()" class="btn-orange btn" mat-flat-button>
    {{ data.confirmButtonText || 'Confirmer' }}
  </button>
</div>
