<div class="page-container">

  <div class="page-title">
    <button class="btn-retour" (click)="retour()">
      <img src="Gauche.svg" alt="" class="btn-retour-img" />
    </button>
    <div>
      <h1>Modifier l'e-mail</h1>
      <p class="page-titre-sous">{{ usager()?.prenom }} {{ usager()?.nom }}</p>
    </div>
  </div>

  @if (succes()) {
    <div class="succes-bloc">
      <mat-icon class="succes-icone">check_circle</mat-icon>
      <h2 class="succes-titre">E-mail modifié</h2>
      <p class="succes-texte">
        Votre nouvel e-mail a bien été enregistré.<br>
        Vous serez déconnecté dans <strong>{{ decompte() }}</strong> seconde{{ decompte() !== 1 ? 's' : '' }}.
      </p>
    </div>
  } @else {
  <form class="contenu" [formGroup]="form" (ngSubmit)="onSubmit()">

    <div class="bloc">
      <div class="bloc-header">
        <mat-icon class="bloc-icon">badge</mat-icon>
        <span class="bloc-titre">Nouvel E-mail</span>
      </div>
      <label class="field-label">Saisissez votre nouvel e-mail</label>
      <mat-form-field appearance="outline" class="full-width">
        <input matInput formControlName="email" type="email" placeholder="Ex: nouveau@mail.com"/>
        <mat-error>Adresse e-mail invalide</mat-error>
      </mat-form-field>
    </div>

    <button type="submit" class="btn-valider" [disabled]="form.invalid || enCours()">
      @if (enCours()) {
        <mat-spinner diameter="20" color="accent"></mat-spinner>
      } @else {
        <mat-icon>check_circle_outline</mat-icon>
        <span>Enregistrer le nouveau mail</span>
      }
    </button>

  </form>
  }
</div>
