@use 'variables' as *;
@use 'common' as *;

:host { display: flex; flex-direction: column; flex: 1; }

.contenu {
  background: $background-white;
  border-radius: $bloc-border-radius;
  padding: 24px 28px;
  box-shadow: $bloc-shadow;
  max-width: 700px;
  font-size: 0.9rem;
  line-height: 1.7;
  color: $text-color-secondary;

  p { margin: 0 0 12px; &:last-child { margin: 0; } }
}
